* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  overflow-y: hidden;
}

.header-box {
  width: 60%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid hsl(217, 16%, 45%);
  border-radius: 10px;
}

.header-score-card {
  padding: 10px 30px;
  background-color: aliceblue;
  border-radius: 5px;
}

.score-text {
  text-transform: uppercase;
  color: hsl(229, 64%, 46%);
}

.score-points {
  font-size: 48px;
  text-align: center;
  color: hsl(229, 25%, 31%);
}

/* Main styles */

.game {
  height: 65vh;
}

.game-play {
  height: 100%;
  position: relative;
}

.disable {
  display: none;
}

.game-play-s2 {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.game-play-s2.disable {
  display: none;
}

.game-play-s2 h2 {
  color: #eee;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 600;
}

.game-play-s2 .big-circle,
.game-play-s2 .big-circle__transform {
  width: 15rem;
  height: 15rem;
}

.game-play-s2 .small-circle,
.game-play-s2 .small-circle__transform {
  width: 12rem;
  height: 12rem;
}

.play-again {
  text-align: center;
}

.play-again h1 {
  color: #eee;
  margin-bottom: 20px;
  font-size: 2rem;
}

.btn-play {
  color: red;
  padding-block: 10px;
  padding-inline: 20px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.temp-circle {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  background: hsl(229, 25%, 31%);
}

.game img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-circle {
  width: 473px;
  height: 438px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.paper-circle {
  position: relative;
  left: 40px;
  cursor: pointer;
}

.scissor-circle {
  position: relative;
  right: 40px;
  cursor: pointer;
}

.rock-circle {
  align-self: flex-end;
  position: relative;
  bottom: 40px;
  cursor: pointer;
}

.big-circle {
  height: 11rem;
  width: 11rem;
  border-radius: 50%;
  box-shadow: 0 3px 3px rgb(0 0 0 / 25%);
}

.big-circle:hover {
  transition: all 0.4s ease-in-out;
  transform: scale(1.1);
}

.big-circle__transform {
  height: 11rem;
  width: 11rem;
  border-radius: 50%;
  transform: translateY(-6px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-circle {
  height: 8.5rem;
  width: 8.5rem;
  border-radius: 50%;
  background-color: #dcd7d7;
}

.small-circle__transform {
  height: 8.5rem;
  width: 8.5rem;
  border-radius: 50%;
  transform: translateY(6px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue {
  background-color: #2642bf;
}

.yellow {
  background-color: #c76b18;
}

.red {
  background-color: #9d1736;
}

.light-blue {
  background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}

.light-yellow {
  background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}

.light-red {
  background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}

.light-white {
  background: linear-gradient(white, whitesmoke);
}

/* Rules styles */

.btn {
  display: inline-block;
  background-color: inherit;
  color: #dcd7d7;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid hsl(217, 16%, 45%);
  position: absolute;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
}

.rules-content.popup-active {
  display: block;
}

.rules-content {
  display: none;
  height: auto;
  width: auto;
  background-color: #eee;
  padding: 20px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.rules-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.rules-close>h3 {
  font-size: 2rem;
  text-transform: uppercase;
}

.close-icon {
  cursor: pointer;
}

/* Overlay */

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  cursor: pointer;
}

.overlay-active {
  display: block;
}