* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  overflow-y: hidden;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  overflow-y: hidden;
}

header {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-box {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid hsl(217, 16%, 45%);
  border-radius: 10px;
}

.header-score-card {
  padding: 10px 30px;
  background-color: aliceblue;
  border-radius: 5px;
}

.score-text {
  text-transform: uppercase;
  color: hsl(229, 64%, 46%);
}

.score-points {
  font-size: 48px;
  text-align: center;
  color: hsl(229, 25%, 31%);
}

/* Main styles */
main {
  height: 75%;
  position: relative;
}

.disable {
  display: none;
}

.mobile-disable {
  display: none;
}

.strict-mobile-disable {
  display: none;
}

.game-play-s2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.game-play-s2.disable {
  display: none;
}

.game-play-s2 h2 {
  color: #eee;
  text-align: center;
  margin-block: 50px;
  font-weight: 600;
}

.game-play-s2 .big-circle,
.game-play-s2 .big-circle__transform {
  width: 15rem;
  height: 15rem;
}

.game-play-s2 .small-circle,
.game-play-s2 .small-circle__transform {
  width: 12rem;
  height: 12rem;
}

.play-again {
  text-align: center;
}

.disable {
  display: none;
}

.play-again h1 {
  color: #eee;
  margin-bottom: 20px;
  font-size: 3rem;
}

.btn-play {
  color: red;
  padding-block: 10px;
  padding-inline: 20px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.temp-circle {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  background: transparent;
}

.temp-circle-small {
  background: hsl(229, 25%, 31%);
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.game img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-circle {
  height: 438px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.paper-circle {
  position: relative;
  left: 40px;
  cursor: pointer;
}

.scissor-circle {
  position: relative;
  right: 40px;
  cursor: pointer;
}

.rock-circle {
  align-self: flex-end;
  position: relative;
  bottom: 40px;
  cursor: pointer;
}

.big-circle {
  height: 11rem;
  width: 11rem;
  border-radius: 50%;
  box-shadow: 0 3px 3px rgb(0 0 0 / 25%);
}

.big-circle:hover {
  transition: all 0.4s ease-in-out;
  transform: scale(1.1);
}

.big-circle__transform {
  height: 11rem;
  width: 11rem;
  border-radius: 50%;
  transform: translateY(-6px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-circle {
  height: 8.5rem;
  width: 8.5rem;
  border-radius: 50%;
  background-color: #dcd7d7;
}

.small-circle__transform {
  height: 8.5rem;
  width: 8.5rem;
  border-radius: 50%;
  transform: translateY(6px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue {
  background-color: #2642bf;
}

.yellow {
  background-color: #c76b18;
}

.red {
  background-color: #9d1736;
}

.light-blue {
  background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}

.light-yellow {
  background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}

.light-red {
  background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}

.light-white {
  background: linear-gradient(white, whitesmoke);
}

/* Rules styles */

.btn {
  display: inline-block;
  background-color: inherit;
  color: #dcd7d7;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid hsl(217, 16%, 45%);
  position: absolute;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
}

.rules-content.popup-active {
  display: block;
  clip-path: circle(100% at 50% 50%);
}

.rules-content {
  display: none;
  height: auto;
  width: auto;
  background-color: #eee;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.rules-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.rules-close>h3 {
  font-size: 2rem;
  text-transform: uppercase;
}

.close-icon {
  cursor: pointer;
}

/* Overlay */

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  cursor: pointer;
}

.overlay-active {
  display: block;
}

.player-pick,
.house-pick {
  position: relative;
}

.circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.circle-1 {
  width: 20rem;
  height: 20rem;
  background-color: rgba(255, 255, 255, 0.09);
  animation: Growing1 0.25s ease-in-out;
}

.circle-2 {
  width: 25rem;
  height: 25rem;
  background-color: rgba(255, 255, 255, 0.06);
  animation: Growing2 0.5s ease-in-out;
}

.circle-3 {
  width: 30rem;
  height: 30rem;
  background-color: rgba(255, 255, 255, 0.03);
  animation: Growing3 0.75s ease-in-out;
}

@keyframes Growing1 {
  0% {
    width: 10rem;
    height: 10rem;
  }

  50% {
    width: 15rem;
    height: 15rem;
  }

  100% {
    width: 20rem;
    height: 20rem;
  }
}

@keyframes Growing2 {
  0% {
    width: 15rem;
    height: 15rem;
  }

  50% {
    width: 20rem;
    height: 20rem;
  }

  100% {
    width: 25rem;
    height: 25rem;
  }
}

@keyframes Growing3 {
  0% {
    width: 20rem;
    height: 20rem;
  }

  50% {
    width: 25rem;
    height: 25rem;
  }

  100% {
    width: 30rem;
    height: 30rem;
  }
}

@media (max-width:768px) {

  /* header */
  .header-box {
    padding: 10px;
    width: 60%;
  }

  .header-box img {
    width: 99px;
  }

  .header-score-card {
    padding: 5px 15px;
  }

  .score-points {
    font-size: 32px;
  }

  /* Game */
  .big-circle,
  .big-circle__transform {
    width: 9rem;
    height: 9rem;
  }

  .small-circle,
  .small-circle__transform {
    width: 7rem;
    height: 7rem;
  }

  .paper-circle {
    top: 25px;
    left: 20px;
  }

  .scissor-circle {
    top: 25px;
    right: 20px;
  }

  .rock-circle {
    bottom: 60px;
  }

  .player,
  .house {
    display: flex;
    flex-direction: column-reverse;
  }

  .game-play-s2 .big-circle,
  .game-play-s2 .big-circle__transform {
    width: 11rem;
    height: 11rem;
  }

  .game-play-s2 .small-circle,
  .game-play-s2 .small-circle__transform {
    width: 8.5rem;
    height: 8.5rem;
  }

  .temp-circle {
    width: 11rem;
    height: 11rem;
  }

  .temp-circle-small {
    width: 8.5rem;
    height: 8.5rem;
  }

  .game-play-s2 {
    gap: 10%;
  }

  .play-again-mobile {
    display: block;
  }

  .play-again-mobile h1 {
    text-align: center;
    color: #eee;
    margin-bottom: 20px;
    font-size: 2.5rem;
  }

  .play-again-mobile button {
    display: block;
    margin: 0 auto;
  }

  .mobile-disable {
    display: none;
  }

  .strict-disable {
    display: none;
  }

  /* Rules */
  .btn {
    max-width: fit-content;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

  .rules-content {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    clip-path: circle(0 at 50% 50%);
    transition: all 0.5s ease-out;
    z-index: 99;
  }

  .rules-content-box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle-1 {
    width: 15rem;
    height: 15rem;
  }

  .circle-2 {
    width: 19rem;
    height: 19rem;
  }

  .circle-3 {
    width: 23rem;
    height: 23rem;
  }


  @keyframes Growing1 {
    0% {
      width: 5rem;
      height: 5rem;
    }

    50% {
      width: 10rem;
      height: 10rem;
    }

    100% {
      width: 15rem;
      height: 15rem;
    }
  }

  @keyframes Growing2 {
    0% {
      width: 11rem;
      height: 11rem;
    }

    50% {
      width: 15rem;
      height: 15rem;
    }

    100% {
      width: 19rem;
      height: 19rem;
    }
  }

  @keyframes Growing3 {
    0% {
      width: 15rem;
      height: 15rem;
    }

    50% {
      width: 19rem;
      height: 19rem;
    }

    100% {
      width: 23rem;
      height: 23rem;
    }
  }
}

@media (max-width:576px) {

  /* Header */
  .header-box {
    width: 80%;
  }


  .circle-1 {
    width: 11.5rem;
    height: 11.5rem;
  }

  .circle-2 {
    width: 14.5rem;
    height: 14.5rem;
  }

  .circle-3 {
    width: 17.5rem;
    height: 17.5rem;
  }
}

@media (max-width:440px) {

  /* Game */

  .game-play>img {
    width: 300px;
  }

  .big-circle,
  .big-circle__transform {
    width: 7.5rem;
    height: 7.5rem;
  }

  .small-circle,
  .small-circle__transform {
    width: 5.5rem;
    height: 5.5rem;
  }

  .paper-circle {
    top: 33px;
    left: 5px;
  }

  .scissor-circle {
    top: 33px;
    right: 5px;
  }

  .rock-circle {
    bottom: 80px;
  }

  .game-play-s2 h2 {
    font-size: 18px;
  }

  .game-play-s2 .big-circle,
  .game-play-s2 .big-circle__transform {
    width: 7.5rem;
    height: 7.5rem;
  }

  .game-play-s2 .small-circle,
  .game-play-s2 .small-circle__transform {
    width: 5.5rem;
    height: 5.5rem;
  }

  .temp-circle {
    width: 7.5rem;
    height: 7.5rem;
  }

  .temp-circle-small {
    width: 5.5rem;
    height: 5.5rem;
  }

  .play-again-mobile h1 {
    font-size: 2rem;
  }
}